<div class="titulo">
  <h3>Bem vindo ao desafio, <%= session[:nome_usuario] %>!</h3>
  <h4>Nível: <% @fase_inicial.times.map.each do %> <%= image_tag 'award.png', alt: 'troféu' %> <% end %></h4>
</div>

<div class="row">
  <div class="col-md-6">
    <table align="center">
      <tbody>
        <% @fase_1_1.each do %>
          <tr>
            <% @fase_1_2.each do %>
              <% if Random.rand(4) == 0 %>
                <td><%= link_to image_tag('coins.png'), action: 'moeda'%></td>

                <% else if Random.rand(4) == 1 %>
                  <td><%= link_to image_tag('bowser.png'), {action: 'monstro', monster: 'bowser'}%></td>
                  <% else if Random.rand(4) == 2 %>
                    <td><%= link_to image_tag('turtle.png'), action: 'monstro', monster: 'turtle' %></td>
                  <% else %>
                    <td><%= link_to image_tag('coffin.png'), action: 'morte'%></td>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <b class="contagem_moeda">Moedas coletadas: <%= @moedas_totais %></b>
        <b class="contagem_monstro">Bowsers derrotados: <%= @bowser_total %></b>
        <b class="contagem_monstro">Turtles derrotados: <%= @turtle_total %></b>
        <b class="contagem_morte">Mortes: <%= @mortes_totais %></b>

        <hr />

        <h5>Para próxima fase:</h5>

        <% if @fase_inicial == 1 %>
          <b class="contagem_moeda">Moedas coletadas: 1</b>
          <b class="contagem_monstro">Turtles derrotados: 1</b>
          <b class="contagem_monstro">Bowsers derrotados: 1</b>
          <b class="contagem_morte">Até 1 morte(s)</b>
          <% else if @fase_inicial == 2 %>
            <b class="contagem_moeda">Moedas coletadas: 100</b>
            <b class="contagem_monstro">Turtles derrotados: 100</b>
            <b class="contagem_monstro">Bowsers derrotados: 100</b>
            <b class="contagem_morte">Até 10 morte(s)</b>
            <% else if @fase_inicial == 3 %>
              <b class="contagem_moeda">Moedas coletadas: 1.000</b>
              <b class="contagem_monstro">Turtles derrotados: 1.000</b>
              <b class="contagem_monstro">Bowsers derrotados: 1.000</b>
              <b class="contagem_morte">Até 25 morte(s)</b>
              <% else if @fase_inicial == 4 %>
                <b class="contagem_moeda">Moedas coletadas: 10.000</b>
                <b class="contagem_monstro">Turtles derrotados: 10.000</b>
                <b class="contagem_monstro">Bowsers derrotados: 10.000</b>
                <b class="contagem_morte">Até 50 morte(s)</b>
                <% else if @fase_inicial == 5 %>
                  <b class="contagem_moeda">Moedas coletadas: 100.000</b>
                  <b class="contagem_monstro">Turtles derrotados: 100.000</b>
                  <b class="contagem_monstro">Bowsers derrotados: 100.000</b>
                  <b class="contagem_morte">Até 75 morte(s)</b>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    setTimeout(function(){
      $('.alert').slideUp(500);
    }, 1000);
  });
</script>
